snippet st "Start Structur HTML 5"
<!DOCTYPE html>
<html lang="en">
	<head>		
		<meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="mfebrian">
		<meta name="keywords" content="${1}">
		<meta name="description" content="${2}">
		<meta name="robots" content="index,nofollow">
		<title>${3}</title>
	</head>
	<body>
		${4}
	</body>
</html>
endsnippet
